RewriteEngine On

# Se o arquivo ou diretório existir, sirva diretamente (CSS, JS, imagens)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Todo o resto vai para o Slim
RewriteRule ^ index.php [QSA,L]